$primary-color:#272727;
$secondary-color:#ff652f;
$Special-color:rgb(41, 247, 41);

@mixin transition-ease {
    transition: all 0.8s ease-in-out;

    // (thinking about adding a map to differenitate the
    //speed of transition)

    // $transition: (
	// "slow" : transition all 2s ease-in-out,
	// "medium" : transition all 1s ease-in-out,
	// "fast" : transition all 0.5s ease-in-out
	// );
   
    }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@function set-text-color($color) {
    @if (lightness($color)>40%){
        @return #000;
    }   
    @else {
        @return #fff;
    }
}
@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
 }
@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
 }
@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
 }
    

 
// responsiveness partial
